<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @universal_channel.message %>
</p>

<%= link_to 'Edit', edit_universal_channel_path(@universal_channel) %> |
<%= link_to 'Back', universal_channels_path %>
